<h1>Listing view_sessions</h1>

<table>
  <tr>
    <th>Session</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @view_sessions.each do |view_session| %>
  <tr>
    <td><%= view_session.session_id %></td>
    <td><%= link_to 'Show', view_session %></td>
    <td><%= link_to 'Edit', edit_view_session_path(view_session) %></td>
    <td><%= link_to 'Destroy', view_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New View session', new_view_session_path %>
