<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @display.title %>
</p>
<p>
<% @display.images.each do |image| %>
	<%= image_tag image.file.url %>
<% end %>
</p>

<%= link_to 'Edit', edit_display_path(@display) %> |
<%= link_to 'Back', displays_path %>
<%= javascript_include_tag ENV['socketfile'] %>