<p id="notice"><%= notice %></p>
<p>
	<b>File:</b>
	<%= image_tag @image.file.url %>
	<b>Diaplay: </b>
	<%= @image.display_id %>
</p>

<%= link_to 'To Session', @image.display %> |
<%= link_to 'Edit', edit_display_image_path(@image.display, @image) %> |
<%= link_to 'Back', display_images_path %>
